PORT=5000
NODE_ENV=development
JWT_SECRET=ceibo_secret_key_superadmin_2026_change_in_production
JWT_EXPIRES_IN=24h
DATABASE_URL="file:./dev.db"

# Datos del usuario Super Admin inicial (seed)
SUPERADMIN_EMAIL=admin@ceibo.studio
SUPERADMIN_PASSWORD=Admin123!
SUPERADMIN_NAME="Super Admin Ceibo"
